body {
  color: #1C1C1C;
  background-color: #FAFAFA;
}

a:link {
  color: #A4A4A4;
}

a:visited {
  color: #585858;
}

.container {
  margin-top: 50px;
  text-align: center;
}

.container img {
  max-width: 98%;
}

.container table {
  margin: 0 auto;
}

.container table td{
  padding : 10px 5px;
}
